<div class = "container-fluid text-center" id="page-content">

  <h1><strong><%= @task.title %></strong></h1>

  <p><%= @task.description %></p>
  <p> <strong>Assigned to <%= User.find(@task.assignedUser).firstName %> on <%= @task.startDate.strftime("%B %e, %Y") %> </strong></p>
  <p> <strong>Due on <%= @task.dueDate.strftime("%B %e, %Y") %> </strong></p>
  <% if (logged_in? && @task.assignedUser == current_user.id) || current_user.admin %>
    <% if !@task.completed %>
      <%= link_to "Complete Task", completeTask_path(:task => @task.id), class: "text-black btn btn-primary btn-large btn-outline-dark",data: {confirm:"Are you sure? Have you finished this?"} %>
    <% end %>

  <% end %>

  <% if (logged_in? && @task.assignedUser != current_user.id) || current_user.admin %>
    <% if @task.completed && !@task.approved %>
      <%= link_to "Approve Task", approveTask_path(:task => @task.id), class: "text-black btn btn-primary btn-large btn-outline-dark",data: {confirm:"Are you sure? Is this fully complete?"} %>
      <%= link_to "Not finished", uncompleteTask_path(:task => @task.id), class: "text-black btn btn-danger btn-large btn-outline-dark",data: {confirm:"Are you sure? Is this fully complete?"} %>
    <% end %>
    <% if @task.completed && @task.approved  %>
      <strong>Task Complete</strong>
    <% end %>

  <% end %>
  <% if logged_in? && current_user.admin %>
    <%= link_to "Delete Task", task_path(@task), class: "text-black btn btn-danger btn-large btn-outline-dark", method: :DELETE, data: {confirm:"Are you sure? This will delete the house"} %>
    <% end %>
  <br>
  <small> <i> Created <%= time_ago_in_words( @task.created_at) %> ago by <%= User.find(@task.createdBy).firstName %> </i> </small>


</div>
