<div class="container rounded" id="task-container-1">
  <br>
  <%= render "shared/errors", obj: @user %>
  <%= form_with(model: @user, local: true ) do |f| %>


    <div class="form-group row">
      <%= f.label :"First Name", class: "col-2 col-form-label" %><br>
      <div class="col-10">
        <%= f.text_field :firstName, class: "form-control", placeholder: "Enzo" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :"Last Name", class: "col-2 col-form-label" %><br>
      <div class="col-10">
        <%= f.text_field :lastName, class: "form-control", placeholder: "Arata" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :Email, class: "col-2 col-form-label" %><br>
      <div class="col-10">
        <%= f.email_field :email, class: "form-control", placeholder: "example@email.com" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :Password, class: "col-2 col-form-label" %><br>
      <div class="col-10">
        <%= f.text_field :password, class: "form-control", placeholder: "************" %>
      </div>
    </div>





    <p class = "text-center">
      <%= f.submit(@user.new_record? ?  "Sign Up" : "Update Account", class: "text-black btn btn-secondary btn-large btn-outline-light") %>
    </p>
  <% end %>
<br>
</div>
