<div class = "container-fluid text-center" id="page-content">

  <h1><strong>House Status </strong></h1>


  
  <% if current_user.house == nil %>
      <%= current_user.firstName %> <p> you are not associated with any houses</p>
    <%= link_to "Create a House", newHouse_path, class: "text-black btn btn-secondary btn-large btn-outline-light"%>
    <%= link_to "Join a House", houses_path, class: "text-black btn btn-secondary btn-large btn-outline-light"%>
  <% else %>

    <p><strong><%= current_user.firstName %> currently lives at <%= current_user.house.name %></strong></p>
    <% if current_user.house != nil   %>
      <%= render "houseTasks" %>

      <%= render "houseInvites" %>
      <%= render "houseCompletedTasks" %>
      <%= link_to "Create House Task", newTask_path, class: "text-black btn btn-primary btn-large btn-outline-dark" %>
      <%= link_to "Invite Roomates", users_path, class: "text-black btn btn-secondary btn-large btn-outline-dark" %>
      <%= link_to "Leave House", house_path(@user.house), class: "text-black btn btn-danger btn-large btn-outline-dark", method: :DELETE, data: {confirm:"Are you sure? This will delete the house"} %>
    <% else %>


    <% end %>





  <% end %>


</div>
