<div class = "container-fluid text-center" id="page-content">

  <h1><strong>House Status </strong></h1>



  <% if @user.house == nil %>
      <%= @user.firstName %> <p> you are not associated with any houses</p>
    <%= link_to "Create a House", newHouse_path, class: "text-black btn btn-secondary btn-large btn-outline-light"%>
  <% else %>

    <p><strong><%= @user.firstName %> currently lives at <%= @user.house.name %></strong></p>

    <%= render "houseTasks" %>

    <%= link_to "Create House Task", newTask_path, class: "text-black btn btn-primary btn-large btn-outline-dark" %>
    <%= link_to "Invite Roomates", users_path, class: "text-black btn btn-secondary btn-large btn-outline-dark" %>
    <%= link_to "Leave House", house_path(@user.house), class: "text-black btn btn-danger btn-large btn-outline-dark", method: :DELETE, data: {confirm:"Are you sure? This will delete the house"} %>
  <% end %>


</div>
