<div class = "container-fluid text-center" id="page-content">

  <h1><strong>House Status </strong></h1>



  <% if @user.house == nil %>
      <%= @user.firstName %> <p> you are not associated with any houses</p>
    <%= link_to "Create a House", newHouse_path, class: "text-black btn btn-secondary btn-large btn-outline-light"%>
  <% else %>

    <p><strong><%= @user.firstName %> currently lives at <%= @user.house.name %></strong></p>
    <%= link_to "Leave House", newHouse_path, class: "text-black btn btn-danger btn-large btn-outline-light"%>
  <% end %>


</div>
